@model IEnumerable<WebApplication1.UserReg>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imgname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgpath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imgname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgext)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgpath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
